@{
    ViewBag.Title = "Index Page";
}


<style>
    body {
        background-color: rgba(220, 199, 170, .25);
    }
</style>
<div class="">
    <div class="text-center">
        <div>
            <img src="~/Content/img/Icon.png" />
        </div>
        <div>
            <img src="~/Content/img/portada.png" />
        </div>
        
    </div>
</div>