@{
    ViewBag.Title = "LogIn";
}

<style>

    body{
        padding-bottom:0;
    }

    input{
        max-width:100%;
    }

</style>

<div class="total-height d-flex" style="">
    <div class="width-50 center-content" style="background-color: rgb(220, 199, 170, .4); width:50%;">
        <div id="login-form" style="display:flex; justify-content:center; flex-direction:column; text-align:center; width:60%;" >
            <div style="">
                <div class="mb-4 fs-2 weight-600">Bienvenido</div>
                <div class="text-start mb-2">
                    <div class="weight-600">Email</div>
                    <input class="width-100 input-inicio" />
                </div>
                <div class="text-start">
                    <div class="weight-600">Contraseña</div>
                    <input class="width-100 input-inicio" />
                </div>
                <div class="text-end mb-2 fs-08">
                    <span>Olvidaste la contraseña?</span>
                </div>
                <div class="mb-2">
                    <button class="btn-inicio" onclick="IniciarSesion()">Iniciar Sesión</button>
                </div>
                <div class="d-flex fs-08 flex-column">
                    <div>Nuevo en PetVet?</div>
                    <div><a>Crear Cuenta</a></div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="width-50 img-container" style="width:50%;">
        <div>
            <img src="~/Content/img/Icono_blanco.png" />
        </div>
        <div>
            <img width="90%" src="~/Content/img/portada.png" />
        </div>
    </div>
</div>