
@{
    ViewBag.Title = "UsersList";
}

<div class="container">
    <div class="d-flex">
        <div><h1>Veterinaria 1</h1></div>
        <div></div>
    </div>

    <div id="usuario-list"></div>


</div>

<script type="text/x-kendo-template" id="template">
    <button class="card" style="width:auto; border:1px solid; text-align:center;height:fit-content; margin-bottom:1rem; padding:1rem 0; border-radius:8px; background-color:white;">
        <div class="card-body">
            <h3>#:name#</h3>
        </div>
    </button>
</script>

<script>var mascotas = [
    { id: 1, name: "Usuario 1" },
    { id: 2, name: "Usuario 1" },
    { id: 3, name: "Usuario 1" },
    { id: 4, name: "Usuario 1" },
    { id: 5, name: "Usuario 1" },
    { id: 6, name: "Usuario 1" },
    { id: 7, name: "Usuario 1" },
    //{ id: 8, name: "Usuario 1" },
    //{ id: 9, name: "Usuario 1" },
    ];

    $("#usuario-list").kendoListView({
        dataSource: {
            data: mascotas
        },
        template: kendo.template($("#template").html()),
        pageable: false
    });</script>

<style>

    body {
        background-color: rgba(220, 199, 170, .25)
    }

    .k-listview-content {
        display: flex;
        flex-direction: column;
    }

    .card-body h3 {
        margin: 0;
    }

    #usuario-list {
        padding: 1rem;
        border: none;
        background-color: transparent;
    }

    .btn-new-mas {
        background-color: #F7C331;
        width: 30%;
        color: white;
        height: 40px;
    }
</style>

