


@model List<PetVet.Models.Mascota>

<div class="container">
    <div class="d-flex">
        <div><h1> @ViewBag.VetName</h1></div>
        <div></div>
    </div>

    <div id="usuario-list"></div>
</div>

<script type="text/x-kendo-template" id="template">
    <div class="card pet-card" onclick="goToPet(#=MascotaID#)">
        <div style="height:5rem;">
            <img class="mascota-img" src="/Content/img/#:Especie#.png" />
        </div>

        <div class="card-body">
            <h3>#:Nombre#</h3>
            <p>#:Edad#</p>
            <p>#:NombreUsuario#</p>
            <p>#:CedulaUsuario#</p>
        </div>
    </div>
</script>

<script>
//var mascotas = [
//    { id: 1, Nombre: "Alejandro Torres", Cedula: "1584965236", Telefono: "09856231542", Mail:"ale.torres@gmail.com" },
//    { id: 2, Nombre: "Francisca Yepez", Cedula: "1485658548", Telefono: "09862344174", Mail: "yep_fran@hotmail.com" },
//    { id: 3, Nombre: "Carlos Zambrano", Cedula: "1526598749", Telefono: "0987456321", Mail: "carlos-zam09@outlook.com" },
//    { id: 4, Nombre: "Alicia Baez", Cedula: "1478523695", Telefono: "0986398752", Mail: "baezA8@yahoo.com" }
//    ];

    var mascotas = @Html.Raw(Json.Encode(Model));
    $("#usuario-list").kendoListView({
        dataSource: {
            data: mascotas
        },
        template: kendo.template($("#template").html()),
        pageable: false
    });

    function goToPet(petid) {
        @*window.location.href = "@Html.Raw(Url.Action("Pets", "Home"))";*@
        var url = '@Url.Action("PetProfile", "Home")?id=' + petid;
        window.location.href = url;
    }
</script>

<style>

    body {
        background-color: rgba(220, 199, 170, .25)
    }

    .k-listview-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-body h3 {
        margin: 0;
    }

    .mascota-img {
        width: 30%;
    }

    #mascotas-list {
    padding: 1rem;
    border: none;
    background-color: transparent;
}

    .pet-card {
        width: 18rem;
        text-align: center;
        height: fit-content;
        margin-bottom: 1rem;
        margin-right: 3rem;
        background-color: white;
        border: 0;
        border-radius: 8px;
        box-shadow: 6px 7px 5px grey;
        padding: 1.5rem;
        cursor: pointer;
    }

    #usuario-list {
        padding: 1rem;
        border: none;
        background-color: transparent;
    }

    .btn-new-mas {
        background-color: #F7C331;
        width: 30%;
        color: white;
        height: 40px;
    }

    .user-card:hover {
        border: 1px solid #F7882F !important;
    }

    .user-card:active {
        background-color: #F7882F !important;
    }
</style>

